---
layout: page
title: ESTACIONA-FáCIL
permalink: /
---
<div id="whatsapp-icon" style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
  <a href="https://api.whatsapp.com/send?phone=59179626383" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50"></a>
</div>
<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">ESTACIONA FÁCIL &#38; <br> RÁPIDO</h1>
          <p class="animated fadeInUp">No pierdas más tiempo tratando de encontrar un lugar de estacionamiento vacío </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>ESTACIONA FÁCIL</h2>
            <p>Es un sistema Inteligente basado en IoT con la capacidad de Detectar, Localizar y Monitorear la ocupación en tiempo real de los espacios disponibles en estacionamientos, brinda a sus administradores información valiosa y guía a los conductores hasta un lugar de estacionamiento vacío.</p>
          </div>
          <p>Uno de los problemas más criticos en las ciudades es el estacionamiento de automóviles. Encontrar espacio de estacionamiento suele ser difícil para los conductores en las ciudades modernas, gracias al creciente número de usuarios de automóviles privados.</p>
          
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img" >
          <br> <br> <br>
          <img src="img/wrapper-img3.png" alt="Img" >
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>TENEMOS UNA SOLUCIÓN INNOVADORA, FLEXIBLE E INTELIGENTE</h2>
      <p>ESTACIONA-FÁCIL es una solución basado en IoT que envía datos sobre lugares de estacionamiento libres y ocupados a través de una aplicación web. Los dispositivos IoT, incluidos sensores y microcontroladores, se encuentran en cada lugar de estacionamiento. </p>
      <p>El usuario recibe una actualización en tiempo real sobre la disponibilidad de todos los lugares de estacionamiento y elige el mejor.</p>
      <p> Nuestra solución incluye monitorización de historial de datos, interfaz gráfica para administradores, aplicación web para conductores y también un sistema de localización con mapas interactivos.</p>
      <a href="#" class="btn btn-view-works">Pida una Cotización</a>
    </div>
  </div>
</div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>OPTIMIZACIÓN DE ESTACIONAMIENTOS Y MONETIZACIÓN </h2>
            <p>Gracias a ESTACIONA-FÁCIL, su estacionamiento puede optimizarse perfectamente, especialmente cuando se trata de clientes. En combinación con ESTACIONA-FÁCIL-DISPLAY, sus clientes siempre sabrán si un determinado estacionamiento tiene espacios de estacionamiento disponibles.</p>
          </div>
          <p>ESTACIONA-FÁCIL es ideal para el precio dinámico de plazas de aparcamiento y estacionamientos. ¿Cómo? Tener información en tiempo real en todo momento le permite ajustar el precio del estacionamiento por hora en función del flujo de tráfico.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/OPTIMIZE.jpg" alt="Img" >
          <br> <br> <br>  <br> <br>
          <img src="img/featue-bg3.jpg" alt="Img" >
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>CARACTERÍSTICAS CLAVE</h2>
        <p>ESTACIONA-FÁCIL está diseñado para instalarse en cualquier tipo de estacionamiento y puede detectar automóviles, camionetas, motocicletas y camiones.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-locked"></i>
          <h4>Comunicación cifrada</h4>
          <p>inalámbrica  con o sin conexión física</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-map"></i>
          <h4>Integración de Mapas </h4>
          <p>mapas interctivos que muestran la ruta y el tiempo hacia el estacionamiento</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Interfaz Gráfica de Usuario</h4>
          <p>para la gestión de reserva realizada por administradores del estacionamiento</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-location"></i>
          <h4>Localización </h4>
          <p>mediante un dispositivo gps en tiempo real </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-eye"></i>
          <h4>Detección precisa</h4>
          <p>De la ocupación de vehículos </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-gear-a"></i>
          <h4>Implementación simple</h4>
          <p>instalación rápida sin tornillos, de bajo mantenimiento y duradero </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-bolt-outline"></i>
          <h4>Bajo consumo Energético</h4>
          <p>Optimizado para trabajar con corriente contínua de bajo consumo </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-calculator"></i>
          <h4>Contador Integrado</h4>
          <p>Conteo de los lugares disponibles en todas las interfaces de Usuario</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>OPTIMICE LA EFICIENCIA Y AUMENTE LOS INGRESOS EN SUS INSTALACIONES DE ESTACIONAMIENTO</h2>
          <h2>¿Necesita un sistema de detección de automóviles? ¡Haznos saber!.</h2>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Contáctenos</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start 
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>-->
